html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #0D0D0D;
    height: 100%;
    width: 100%;
}

h1{
    font-size: 2em;
    font-weight: bold;
}

h1:hover{
    color: rgba(124, 155, 178, 0.76);
}
#functions{
    align-content: center;
}

#functions .row{
    align-items: center;
    text-align: center;
    margin: auto;
    height: 90px;
    width: 100%;
}

#functions .row .col-sm-12 div{
    margin: 10% 0% 5% 0%;
    height: 100px;
    width: 100%;
}

#toolsandcanvas #toolspanel .col-sm-2{
    height : 100%;
}

#toolsandcanvas #toolspanel .col-sm-2 div{
    display: flex;
    font-size:70%;
    margin: 5% 0% 5% 0%;
    height: 100%;
    width: auto;
}

#toolsandcanvas{
    width: 100%;
    height: 100%;
}

#toolspanel{
    height: 10%;
    align-items: center;
}

canvas{
    width: 100%;
    height: 100%;
    background-color: white;
}

#mainpanel{
    border-color: white;
    width: 100%;
    display:flex;
    align-items: center;
    background: linear-gradient(#063C41,#135D64);
    font-family: "Corbel";
    height: 5%;
}

#functions{
    width: 15%;
    height: 100%;
    background-color: #1b1b1d;
    border-color: #135D64;
    border-width: 0 thick 0 thick;
    border-style: solid;
}

#openbutton{
    background: url("../img/open.png") no-repeat;
    background-size: auto 70%;
}

#openbutton:hover{
    background: url("../img/open_hover.png") no-repeat;
    background-size: auto 70%;
}

#newbutton{
    background: url("../img/new_icon.png") no-repeat;
    background-size: auto 70%;
}

#newbutton:hover{
    background: url("../img/new_icon_hover.png") no-repeat;
    background-size: auto 70%;
}

#savebutton{
    margin: auto;
    background: url("../img/save_icon.png") no-repeat;
    background-size: auto 70%;
}

#savebutton:hover{
    background: url("../img/save_icon_hover.png") no-repeat;
    background-size: auto 70%;
}

#rotatebutton{
    margin: auto;
    background: url("../img/rotate_icon.png") no-repeat;
    background-size: auto 70%;
    background-position: center;
}

#rotatebutton:hover{
    background: url("../img/rotate_hover.png") no-repeat;
    background-size: auto 70%;
    background-position: center;
}

#penbutton{
    margin: auto;
    background: url("../img/pencil.png") no-repeat;
    background-size: auto 70%;
    background-position: center;
}

#penbutton:hover{
    background: url("../img/pencil_hover.png") no-repeat;
    background-size: auto 70%;
    background-position: center;
}


#mirrorbuttonhor{
    margin: auto;
    background: url("../img/mirror-icon.png") no-repeat;
    background-size: auto 70%;
    background-position: center;
}

#mirrorbuttonhor:hover{
    background: url("../img/mirror-icon-hover.png") no-repeat;
    background-size: auto 70%;
    background-position: center;
}

#mirrorbuttonver{
    background: url("../img/vertical_mirror.png") no-repeat;
    background-size: auto 70%;
    background-position: center;
}

#mirrorbuttonver:hover{
    background: url("../img/vertical_mirror_hover.png") no-repeat;
    background-size: auto 70%;
    background-position: center;
}

#greyscalebutton{
    background: url("../img/grayscale.png") no-repeat;
    background-size: auto 70%;
    background-position: center;
}

#greyscalebutton:hover{
    background: url("../img/grayscale_hover.png") no-repeat;
    background-size: auto 70%;
    background-position: center;
}

#colorpicker{
    margin: auto;
    width: 50%;
    height: 80px;
}

#app{
    width: 90%;
    display: flex;
    font-family: "Corbel";
    align-items: center;
    justify-content: left;
    background-color: rgb(12, 36, 41);
    height: 100%;
}